<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Static Template</title>
</head>

<body>
  <div class="content">
    <div class="topnav">
      <a class="active" href="categories">Categories</a>
      <a href="logout">Logout</a>
      <a href="edit-profile">Edit Profile</a>
    </div>
    <ul>
      <li>
        Places to eat
        <ul>
          <li>Section One</li>
          <li>Section Two</li>
          <li>Section Three</li>
        </ul>
      </li>
      <li>
        Books to read
        <ul>
          <li>Section One</li>
          <li>Section Two</li>
          <li>Section Three</li>
        </ul>
      </li>
      <li>
        Movies to watch
        <ul>
          <li>Section One</li>
          <li>Section Two</li>
          <li>Section Three</li>
        </ul>
  </div>

</html>
