<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Static Template</title>
</head>

<body>
  <ul>
    <li>
      Books to read
    </li>
    <li>
      Places to eat
    </li>
    <li>
      Movies to watch
    </li>
    <li>
      Fill in later
    </li>
  </ul>
</body>

</html>
