<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To-Do List</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/profile.css" />
  <!-- <link rel="stylesheet" href="styles/partials/profile.css" /> -->

  <script type="text/javascript" src="/scripts/app.js"></script>

</head>

<body>
  <div class="topnav">
    <h1>To-Do List</h1>
    <div class="navbuttons">
      <a id="profile" class="active" <a href="edit-profile">Edit Profile</a>
      <a href="logout">Logout</a>
    </div>
  </div>
  <nav class="task-list-nav">
    <ul>

      <!-- button here -->
      <button id="movies">Film or series</button>
      <!-- <br> -->
      <button id="restaurants">Restaurants or cafes</button>
      <button id="books">My books list </button>
      <button id="products">Products to buy</button>

    </ul>
    <!-- New test code added for task button -->
    <div class="content">
      <!-- <input type="text" class="text" value="A new task" readonly> -->
      <form action="/list_items" method="POST">
        <input class="text" type="text" name="category" placeholder="Enter new category" style="width: 200px">
        <input type="text" class="text" name="entry" placeholder="your title" style="width: 200px">
        <input type="submit" id="new-task-submit" value="Add task" />
      </form>
    </div>
  </nav>
  </header>
  <br>
  <div>
    <main>
      <section class="task-list">
        <h2>Task: <%= %>
        </h2>
        <br>

        <div id="tasks">
          <div class="task">
            <link rel="stylesheet" href="/styles/main.css" />
            </head>
          </div>
        </div>
      </section>
    </main>
  </div>
</body>

</html>
