
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/api_helpers.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <main style="margin: 1em;">
    <h3>New search</h3>
    <form class="form-inline" action="/search" method="POST">
      <div class="form-group mb-2">
        <label for="search">Enter your search</label>
        <input class="form-control" type="text" name="search" placeholder="Enter your search" style="width: 300px; margin: 1em">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </main>
</body>

</html>
