
body {
  // display: flex;
  // // flex-direction: column;
  // flex-wrap: nowrap;
  // justify-content: last baseline;
  width: 100%;
}

/* align-items: stretch; */
/* align-content: stretch; */
li {
  list-style-type: none;
  margin: 0 2vw;
  /* our font-size will be 3% of the height of the viewport */
  font-size: 3vh;
}

a:hover {
  background-color: #C6E9FF;
}

ul {
  margin: 0;
  padding: 0;

  /*this option by default dispose the elements in a row (flex-direction: row)*/
  display: flex;
}

/*change the layout of the navigation bar for all the screens
that have a width less or equal than 500px*/

@media only screen and (max-width: 500px) {

  /*shows elements in a column*/
  ul {
    flex-direction: column;
  }

  /* deletes margin on top or bottom of the a tag*/
  li {
    margin: 0;
  }

  /* makes sure that the a tag will take the entire screen*/
  a {
    display: block;
  }
}

button {
  display: block;
   cursor: pointer;

  /*this put the button on the left*/
  align-self: flex-start;
}

button {
  display: none;
}

button {
  /*makes the button visible*/
  display: block;

  //button resized
  padding: 1vw;
  font-size: 1.5vh;
  border: none;

  /*outline none removes the default blue border that appears anytime you click on the button*/
  outline: none;

  cursor: pointer;
  display: inline-flex
}



